
<div class="box">
<div class="row">
  <div class="col-md-5 col-sm-12">
    <img src="{{data.image}}" class="w-100" alt="sas">
  </div>
  <div class="col-md-7 col-sm-12">
    <div class="info">
      <ul  class="list-unstyled ">
        <li><strong class="text-danger mb-2">Title :  </strong>{{data.title}}</li>
        <li><strong class="text-danger mb-2">Category :  </strong>{{data.category}}</li>
        <li><strong class="text-danger mb-2">Description :  </strong>{{data.description}}</li>
        <li><strong class="text-danger mb-2">Rate  : </strong>{{data.rating.rate}}</li>
        <li><strong class="text-danger mb-2">Count : </strong>{{data.rating.count}}</li>
        <li><strong class="text-danger mb-2">Price : </strong>{{data.price}}</li>
      </ul>
    </div>
  </div>
</div>

</div>
