<div class="cartBox">
  <h1 class="text-danger">Shopping Cart</h1>
<div class="headCart">
  <p class="lead">You Have <label class="text-danger">{{cartProducts.length}}</label> item in you cart</p>
  <span class="text-danger card-header" (click)="ClearProduct()">Clear Shopping Cart</span>
</div>
<table class="table table-striped">
  <thead>

    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th style="width: 25%;">Quantity</th>
      <th>Total</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let Product of cartProducts " >
      <td><img src="{{Product.item.image}}" alt=""></td>
      <td>{{Product.item.title}}</td>
      <td>{{Product.item.price}}L.E</td>

      <td>
        <div class="quantity" >
          <button class="btn btn-dark" (click)="AddAmount(Product)">+</button>
          <input type="number" (keyup)="DetectChange()" [(ngModel)]="Product.quantity" min="1">
          <button (click)="MinsAmount(Product)" class="btn btn-dark">-</button>
        </div>
      </td>
      <td>{{Product.item.price*Product.quantity}} L.E</td>
      <td><button class="btn btn-danger" (click)="DeleteItem(Product)" >Delete</button></td>
    </tr>
  </tbody>
<tfoot>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Total:<span class="text-danger">{{total.toFixed(2)}}</span></th>
    <th><button class="btn btn-success" (click)="AddCartSend()" >Order Now</button></th>
  </tr>
</tfoot>
</table>


</div>

<div *ngIf="successMassage" class="alert alert-success" role="alert" > <strong>Well Done!</strong>
Your Order Is Successfully Send</div>
